{% extends "base.html" %}
{% load static %}

{% block title %}Giriş{% endblock title %}
{% comment %} Headerə ağ fon/qara mətn əlavə edir və əsas naviqasiyanı gizlədir {% endcomment %}
{% block header_extra_classes %}bg-white shadow-md header-scrolled no-scroll-effect{% endblock %}
{% block main_nav %}{% endblock %}
{% block content %}
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-md">

        <h2 class="mt-6 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">
            Hesabınıza daxil olun
        </h2>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-md">
        
        {% if messages %}
            <div class="mb-4">
            {% for message in messages %}
                <div class
                    ="p-4 rounded-md {% if message.tags == 'success' %} bg-green-100 text-green-800 {% else %} bg-red-100 text-red-800 {% endif %}" 
                    role="alert">
                    <p class="font-bold">{% if message.tags == 'success' %}Uğurlu!{% else %}Xəta!{% endif %}</p>
                    <p>{{ message }}</p>
                </div>
            {% endfor %}
            </div>
        {% endif %}

        <form class="space-y-6" action="{% url 'login' %}" method="POST">
            {% csrf_token %}

            <div>
                <label for="id_username" class="block text-sm font-medium leading-6 text-gray-900">
                    E-poçt ünvanı
                </label>
                <div class="mt-2">
                    <input id="id_username" name="username" type="email" autocomplete="email" required 
                           class="block w-full rounded-md border-0 py-2.5 px-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6">
                </div>
            </div>

            <div>
                <div class="flex items-center justify-between">
                    <label for="id_password" class="block text-sm font-medium leading-6 text-gray-900">
                        Şifrə
                    </label>
                    <div class="text-sm">
                        </div>
                </div>
                <div class="mt-2">
                    <input id="id_password" name="password" type="password" autocomplete="current-password" required 
                           class="block w-full rounded-md border-0 py-2.5 px-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6">
                </div>
            </div>

            <div>
                <button type="submit" 
                        class="flex w-full justify-center rounded-md bg-blue-600 px-3 py-2.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600">
                    Daxil ol
                </button>
            </div>
        </form>

        <p class="mt-10 text-center text-sm text-gray-500">
            Hesabınız yoxdur?
            <a href="{% url 'register-choice' %}" class="font-semibold leading-6 text-blue-600 hover:text-blue-500">
                Qeydiyyatdan keçin
            </a>
        </p>
    </div>
</div>
{% endblock content %}