{% extends "base.html" %}

{% block title %}Sahibkar qeydiyyatı | Güvən Finans{% endblock %}

{% comment %} Headerə ağ fon/qara mətn əlavə edir və əsas naviqasiyanı gizlədir {% endcomment %}
{% block header_extra_classes %}bg-white shadow-md header-scrolled no-scroll-effect{% endblock %}
{% block main_nav %}{% endblock %}

{% block content %}
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-3xl">
        <h2 class="mt-6 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">
            Sahibkar olaraq qeydiyyatdan keçin
        </h2>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-3xl">

        <form class="space-y-6" action="{% url 'register-owner' %}" method="POST" novalidate>
            {% csrf_token %}

            {% if form.non_field_errors %}
            <div class="rounded-md bg-red-100 p-4 mb-4">
                <div class="flex">
                    <div class="flex-shrink-0">
                        <svg class="h-5 w-5 text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
                        </svg>
                    </div>
                    <div class="ml-3">
                        <h3 class="text-sm font-medium text-red-800">Formda xəta baş verdi:</h3>
                        <div class="mt-2 text-sm text-red-700">
                            <ul role="list" class="list-disc pl-5 space-y-1">
                                {% for error in form.non_field_errors %}
                                <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            <div class="grid grid-cols-1 gap-x-6 gap-y-6 sm:grid-cols-6">
                <div class="sm:col-span-3">
                    <label for="{{ form.first_name.id_for_label }}" class="block text-sm font-medium leading-6 text-gray-900">{{ form.first_name.label }}</label>
                    <div class="mt-1">
                        {{ form.first_name }}
                    </div>
                    {% if form.first_name.errors %}
                    <div class="mt-1 text-sm text-red-600" id="{{ form.first_name.auto_id }}_error">
                        {% for error in form.first_name.errors %}<p>{{ error }}</p>{% endfor %}
                    </div>
                    {% endif %}
                </div>

                <div class="sm:col-span-3">
                    <label for="{{ form.last_name.id_for_label }}" class="block text-sm font-medium leading-6 text-gray-900">{{ form.last_name.label }}</label>
                    <div class="mt-1">
                        {{ form.last_name }}
                    </div>
                    {% if form.last_name.errors %}
                    <div class="mt-1 text-sm text-red-600" id="{{ form.last_name.auto_id }}_error">
                        {% for error in form.last_name.errors %}<p>{{ error }}</p>{% endfor %}
                    </div>
                    {% endif %}
                </div>

                <div class="sm:col-span-3">
                    <label for="{{ form.email.id_for_label }}" class="block text-sm font-medium leading-6 text-gray-900">{{ form.email.label }} (Giriş üçün istifadə olunacaq)</label>
                    <div class="mt-1">
                        {{ form.email }}
                    </div>
                    {% if form.email.errors %}
                    <div class="mt-1 text-sm text-red-600" id="{{ form.email.auto_id }}_error">
                        {% for error in form.email.errors %}<p>{{ error }}</p>{% endfor %}
                    </div>
                    {% endif %}
                </div>

                <div class="sm:col-span-3">
                    <label for="{{ form.phone_number.id_for_label }}" class="block text-sm font-medium leading-6 text-gray-900">{{ form.phone_number.label }}</label>
                    <div class="mt-1 flex rounded-lg shadow-sm">
                        {{ form.phone_prefix }}
                        {{ form.phone_number }}
                    </div>
                    {% if form.phone_prefix.errors %}
                    <div class="mt-1 text-sm text-red-600">
                        {% for error in form.phone_prefix.errors %}<p>Ölkə kodu: {{ error }}</p>{% endfor %}
                    </div>
                    {% endif %}
                    {% if form.phone_number.errors %}
                    <div class="mt-1 text-sm text-red-600">
                        {% for error in form.phone_number.errors %}<p>Mobil nömrə: {{ error }}</p>{% endfor %}
                    </div>
                    {% endif %}
                </div>

                <div class="sm:col-span-3">
                    <label for="{{ form.password.id_for_label }}" class="block text-sm font-medium leading-6 text-gray-900">{{ form.password.label }}</label>
                    <div class="mt-1">
                        {{ form.password }}
                    </div>
                    {% if form.password.errors %}
                    <div class="mt-1 text-sm text-red-600" id="{{ form.password.auto_id }}_error">
                        {% for error in form.password.errors %}<p>{{ error }}</p>{% endfor %}
                    </div>
                    {% endif %}
                </div>

                <div class="sm:col-span-3">
                    <label for="{{ form.password_confirm.id_for_label }}" class="block text-sm font-medium leading-6 text-gray-900">{{ form.password_confirm.label }}</label>
                    <div class="mt-1">
                        {{ form.password_confirm }}
                    </div>
                    {% if form.password_confirm.errors %}
                    <div class="mt-1 text-sm text-red-600" id="{{ form.password_confirm.auto_id }}_error">
                        {% for error in form.password_confirm.errors %}<p>{{ error }}</p>{% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>

            <div class="border-t border-gray-200 pt-6"></div>

            <h3 class="text-lg font-semibold leading-7 text-gray-900">Şirkət Məlumatları</h3>

            <div class="grid grid-cols-1 gap-x-6 gap-y-6 sm:grid-cols-6">
                <div class="sm:col-span-3">
                    <label for="{{ form.company_name.id_for_label }}" class="block text-sm font-medium leading-6 text-gray-900">{{ form.company_name.label }}</label>
                    <div class="mt-1">
                        {{ form.company_name }}
                    </div>
                    {% if form.company_name.errors %}
                    <div class="mt-1 text-sm text-red-600" id="{{ form.company_name.auto_id }}_error">
                        {% for error in form.company_name.errors %}<p>{{ error }}</p>{% endfor %}
                    </div>
                    {% endif %}
                </div>

                <div class="sm:col-span-3">
                    <label for="{{ form.company_email.id_for_label }}" class="block text-sm font-medium leading-6 text-gray-900">{{ form.company_email.label }}</label>
                    <div class="mt-1">
                        {{ form.company_email }}
                    </div>
                    {% if form.company_email.errors %}
                    <div class="mt-1 text-sm text-red-600" id="{{ form.company_email.auto_id }}_error">
                        {% for error in form.company_email.errors %}<p>{{ error }}</p>{% endfor %}
                    </div>
                    {% endif %}
                </div>

                <div class="sm:col-span-3">
                    <label for="{{ form.company_phone_number.id_for_label }}" class="block text-sm font-medium leading-6 text-gray-900">{{ form.company_phone_number.label }}</label>
                    <div class="mt-1 flex rounded-lg shadow-sm">
                        {{ form.company_phone_prefix }}
                        {{ form.company_phone_number }}
                    </div>
                    {% if form.company_phone_prefix.errors %}
                    <div class="mt-1 text-sm text-red-600">
                        {% for error in form.company_phone_prefix.errors %}<p>Ölkə kodu: {{ error }}</p>{% endfor %}
                    </div>
                    {% endif %}
                    {% if form.company_phone_number.errors %}
                    <div class="mt-1 text-sm text-red-600">
                        {% for error in form.company_phone_number.errors %}<p>Şirkət nömrəsi: {{ error }}</p>{% endfor %}
                    </div>
                    {% endif %}
                </div>

                <div class="col-span-full">
                    <label for="{{ form.company_address.id_for_label }}" class="block text-sm font-medium leading-6 text-gray-900">{{ form.company_address.label }}</label>
                    <div class="mt-1">
                        {{ form.company_address }}
                    </div>
                    {% if form.company_address.errors %}
                    <div class="mt-1 text-sm text-red-600" id="{{ form.company_address.auto_id }}_error">
                        {% for error in form.company_address.errors %}<p>{{ error }}</p>{% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>

            <div>
                <button type="submit"
                        class="flex w-full justify-center rounded-md bg-blue-600 px-3 py-2.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600">
                    Təsdiqlə və Göndər
                </button>
            </div>
        </form>

        <p class="mt-10 text-center text-sm text-gray-500">
            Artıq hesabınız var?
            <a href="{% url 'login' %}" class="font-semibold leading-6 text-blue-600 hover:text-blue-500">
                Daxil olun
            </a>
        </p>
    </div>
</div>
{% endblock content %}